{% extends 'accounts/main.html' %}
{% block content %}
{% include 'accounts/status.html' %}

<div class="col-md">
  <hr>
  <div class="card card-body">
    <table class="table table-sm">
      <tbody><tr>
        <th>Product</th>
        <th>Date Orderd</th>
        <th>Status</th>
      </tr>

        {%for order in orders%}
        <tr>
          <td>{{order.Product}}</td>
          <td>{{order.date_created}}</td>
          <td>{{order.status}}</td>
        </tr>
        {% endfor %}
    </tbody></table>
  </div>
</div>

{% endblock content %}
